<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.mobile.testapp">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <permission android:name="app.permission.USE_TEST_PROVIDER"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".provider.MyContentProvider"
            android:permission="app.permission.USE_TEST_PROVIDER"
            android:authorities="com.king.android:test"
            android:enabled="true"
            android:multiprocess="true"
            android:exported="true" />

        <activity
            android:name=".daemon.KeepAliveActivity"
            android:theme="@style/LiveStyle" />
        <activity android:name=".activity.SurfaceActivity" />

        <service
            android:name=".daemon.TestService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service android:name=".hook.ProxyService" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name=".service.MyMessagingService" />

        <receiver android:name=".receiver.MessageReadReceiver">
            <intent-filter>
                <action android:name="com.king.mobile.testapp.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.king.mobile.testapp.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>